/* Dùng dấu ... */
/* .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical; 
    overflow: hidden;
} */

:root {
    --btncolor : #0F1B4C 
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* rem phụ thuộc vào font-size html */

body {
    font-size: 1.6rem;
}

/* header */
.header {
    background-color: #E6F0FF;
    padding-top: 26px;
    top: -26px; 
    position: sticky;
    z-index: 1;
}


/* lớp common : lớp dùng chung */
.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
/* Khi nhỏ hơn 1110px thì sẽ tính theo max-width */
    /* căn chỉnh giữa div */
}

.nav {
    margin-left: 64px;
    display: flex;
}

.nav li a:first-child {
    padding: -14px;
}
/*  */

.nav li a {
    padding: 8px 14px;
    color: #4F5361;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__cta {
    display: flex;
    margin-left: auto;
}

.header__nav {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header__cta a:nth-child(2) {
    background-color: #0F1B4C;
    color: #FFFFFF;
    border-radius: 8px;
}

.header__cta a{
    padding: 12px 19px;
    color: #0F1B4C;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.2;
}

.header__nav a:hover {
    text-decoration:underline;
}

a {
    text-decoration: none;
}

/* intro-content */
.intro-content {
    height: calc(100vh - 90px);
    background-color: #E6F0FF ;
    position: relative;
}
.text-house-img {
    display: flex;
    align-items: center;
    /* align chỉ đi với flex 
    justify-content: center; */
    width: 584px;
    height: 619px;
}

.text-house p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.19;
    /* Cao theo tỉ lệ chữ /18 */
    color: #5A6473;
}

.text-house p:last-of-type{
    font-weight: 400;
    margin-top: 30px;
}

.text-house h2 {
    font-size: 6.4rem;
    font-weight: 700;
    color: #000336;
    margin-top: 8px;
    line-height: 1.19;
}

.text-house .text-button {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.2;
    border-radius: 12px ;
    background-color: #0F1B4C;
    padding: 13px 40px;
    margin-top: 40px;
    border: none;
    font-family: 'Poppins', sans-serif;

}

.text-house a {
    color: #FFFFFF;
}

.img-house {
    /* width: 584px;
    height: 619px;  không cần đặt kích thước cho ảnh, mặc định khi tải về đã như vậy rồi!*/
    position: absolute;
    right: calc((100% - 1110px)/2 - 100px);
    bottom: 0;
}

/*  INTRO BRAND */
.brand {
    padding-bottom: 41px;
}

.brand__all {
    display: flex;
    margin-top: 79px;
}

.brand__logo {
    margin-top: 43px;
}

.brand__logo p{
    margin-top: 23px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #7D8589;
}

.brand__star {
    margin-left: auto;
    margin-top: 46px;
}

.brand__5star {
    text-align: right;
}

.brand__desc {
    margin-top: 18.15px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #7D8589;
}

.brand__list {
    margin-top: 70px;
}

.brand__list img:nth-of-type(1){
    padding-left: 10px;
}

.brand__list img:nth-of-type(5) {
    padding-right: 10px;
}

.brand__list img:hover {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.brand__list img:nth-of-type(3) {
    margin: 0px 41px;
   
}

.brand__list img{
    padding: 26px 41px;
}

/* HOW WORK */
.how {
    padding-top: 40px;
    width: 685px;
    height: 427px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
}


.how__text h2 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 2;
    text-align: center;
    color: #000339;
}

.how__text p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    color: #5A6473;
    margin: 20px 113px 0;
}

.how__seller {
    display: flex;
    text-align: center;
    margin-top: 70px;
}
.how__item {
    width: 33.333333%;
    /* text-align: center; */
}
.how__item h3 {
    margin: 26px 0 10px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    color: #3B3C45;
}

.how__item p{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: center;
    color: #0689FF;
}

.how__button {
    display: flex;
    justify-content: center;

}
.how__button__item {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.2;
    border-radius: 12px;
    background-color: #0F1B4C;
    padding: 13px 40px;
    margin-top: 40px;
    border: none;
}

.how__button a {
    color: #FFFFFF;
}

/* FEATURE */

.feature {
    padding-top: 110px;
    padding-bottom: 110px;
    background: #F5FAFE;
}

.feature__text__1 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 2;
    color: #000339;
}

.feature__text__2 {
    display: flex;
    /* margin-top: 15px; */
}

.feature__text__2 p:first-child {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #5A6473;
}

.feature__text__2 p:last-of-type{
    margin-left: auto;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0689FF;
}

    /* display: grid; */
    /* grid-template-columns:  1fr 1fr 1fr ; */
    /* grid-template-columns:  repeat(3,1fr) ; */
    /* gap khoảng cách giữa các item chỉ hoạt động trong flex hoặc grid  2 chỉ số 
    column gap row gap*/

.feature__list {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.feature__item {
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    border-radius: 12px;  
    transition: 0.25s; 
}

.feature__item:hover {
    transform: translateY(-10px);
}

.feature__imgwrap {
    width: 350px;
    height: 227px;
                                 
}

.feature__itemimg {
    width: inherit;
    /* width: 100% */
    height: inherit;
    object-fit: cover;
    /* vẫn vừa phần khung nhưng không méo ảnh */

}

.feature__item--info {
    padding: 17px 20px;
    background: #FFFFFF;
}

.feature__item--info h3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    color: #000339;
}

.feature__item--info > p {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #A3A6AB;
}

.feature__item__footer {
    display: flex;
    column-gap: 22px;
    margin-top: 18px;
    justify-content: space-between;
    /* các item cách nhau tối đa */

}

.feature__item__footer1 {
    display: flex;
    column-gap: 9px;
    align-items: center;
}

.feature__item__footer1 p {
    font-weight: 500;
    font-size: 14px;
    line-height:1; 
    color: #444444;
}


/* FEATURE02 */

.feature02  {
    padding-top: 125px;
    padding-bottom: 101px;
}

.feature02 .content {
    width: 1048px;
}

.feature02__container {
    display: flex;
}

.feature02__intro {
    position: relative;
    width: 50%;
}

.feature02__intro .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.feature02__desc__img {
    position: absolute;
    width: 239px;
    background: #FFFFFF;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
    top: 0;
    left: 0;
    padding-bottom: 40px;
}

.feature02__desc__img p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #A7A7A7;
    margin: 0px 22px 25px 22px;
}

.feature__devnumber {
    margin: 45px 22px 8px 22px; 
}

.feature__devnumber .value{
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
    margin-right: 50px;
}

.dashed-border {
    border-bottom: 1.2px solid #E9E9E9;
    margin-right: 22px;
    margin-left: 22px;
    width: 193px;
}

.feature02__users {
    display: flex;
    margin-top: 26px;
    flex-wrap: wrap;
    /* Thẻ cha không chứa vừa các item, */
    gap: 16px 14px;
    /* Cần hỏi */
}

.feature02__users {
    margin: 25px 30px 0px 21px;
}

.feature__group {
    display: flex;
}

.feature__group .avata{
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.feature02__love {
    padding: 79px 0 0 165px;
    
}

.feature02__love h3 {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
    width: 269px
}

.feature02__love h3::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    /* Khi dùng before apter bắt buộc phải có property content 
    thay thế 1 chuỗi rỗng */
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.feature02__love p {
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
    margin-top: 20px;
}

.feature02__number {
    display: flex;
    margin-top: 110px;
    padding: 0 32px;
}

.feature02__number .feature02__plus .quantity {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
}

.feature02__number .feature02__plus:nth-of-type(2) {
    margin: 0 220px;
}

.feature02__plus p{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7B8087;
    margin-top: 24px;
}

/* NEWSLETTER */
.newslet {
    padding-top: 30px;
}

.newslet__blue {
    display: flex;
    align-items: center;
    position: relative;
    background: #063183;
    border-radius: 20px;
    height: 370px;
}

.newslet__para {
    padding:  0 80px;
}

.newslet__para h3{
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #FFFFFF;
}

.newslet__para p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #FFFFFF;
    opacity: 0.75;
    margin-top: 15px;
    margin-bottom: 20px;
}

.newslet__button .newslet__subscribe{
    background: #FFFFFF;
    border-radius: 12px;
    width: 151px;
    height: 50px;
    justify-content: center;
}
.newslet__subscribe a {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.2;
    text-align: center;
    color: #002366;
}

.newslet__phone {
    position: absolute;
    bottom: 0;
    right: 216px;
}

/* FOOTER */
.footer {
    padding-top: 105px;
    margin-bottom: 51px;
}


.footer__column {
    display: flex;
}

.column h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.4;
    color: #1C1C1D;
}

.column ul {
    margin-top: 42px;
}

.column li a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #7A7A7E;
    white-space: nowrap;
}

.column li {
    margin-bottom: 18px;
}

.footer__column .column:last-of-type {
    margin-right: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #7A7A7E;
}

.footer__column .column {
    margin-right: 185px;
    display:block !important;
}

.footer__icon {
    margin-top: 40px;
}

.footer__end {
    display: flex;
    margin-top: 81px;
}

.footer__end p {
    margin-left: auto;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #C2C2C2;
}




